<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunding.demo.mapper.NotesMapper">

    <select id="getAllNotes" resultType="com.yunding.demo.dto.PublicNotesDto">
        select * from notes
    </select>
    <select id="getAllPublicNotes" resultType="com.yunding.demo.dto.PublicNotesDto">
        select * from notes,users where notes.source = users.email and  notes.hasOpen = "yes" ORDER BY creatTime DESC
    </select>
    <insert id="insertNotes" parameterType="com.yunding.demo.form.InsertNotesForm" >
        INSERT INTO notes (title,content,hasOpen,category,source) VALUES(#{title},#{content},#{hasOpen},#{category},#{source})
    </insert>
    <update id="autoIncrement">
        ALTER TABLE `notes` AUTO_INCREMENT =1
    </update>
    <delete id="deleteNotes" parameterType="com.yunding.demo.form.DeletedNotesForm">
        DELETE FROM notes WHERE noteId = #{deleteId}
    </delete>
    <update id="updateNotesOrder" parameterType="com.yunding.demo.form.DeletedNotesForm">
        UPDATE notes SET noteId=noteId-1 where noteId > #{deleteId}
    </update>
    <update id="updateNotes" parameterType="com.yunding.demo.form.UpdateNotesForm">
        update notes set title=#{title},content=#{content},hasOpen=#{hasOpen},category=#{category},source=#{source} where noteId =#{noteId}
    </update>
    <select id="selectOneNote6" parameterType="com.yunding.demo.form.SelectOneNotes6" resultType="com.yunding.demo.dto.PublicNotesDto">
        select * from notes where content like #{content_1} and hasOpen = 'yes' order by (length(title)-length(#{content}))
    </select>
    <select id="selectOneNote5" parameterType="com.yunding.demo.form.SelectOneNotes6" resultType="com.yunding.demo.dto.PublicNotesDto">
        select * from notes where title like #{content_1} and hasOpen = 'yes'  order by (length(title)-length(#{content}))
    </select>
</mapper>